@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

html {
    font-size: 15px;
}
* {
    font-family: Ubuntu, sans-serif;
}
@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
}

